/*Styles for buttons*/
.container-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
.container-buttons-btn-gradient {
  color: #fff;
  background-color: #191919;
  margin: 15px;
  padding: 14px 30px;
  border-radius: 2px;
  border: 1px solid #fff;
  transition: 0.3s ease;
  text-decoration: none;
  opacity: 0.9;
  font-weight: bold;
  font-family: "Special Elite", cursive;
}

.container-buttons-btn-gradient:hover {
  border: 1px solid #ead430;
  opacity: 1;
  cursor: pointer;
}

.pressed-jobs-buttons {
  color: #fff;
  background-color: #191919;
  margin: 15px;
  padding: 14px 30px;
  border-radius: 2px;
  transition: 0.3s ease;
  text-decoration: none;
  border: 2px solid #ead430;
  opacity: 1;
  font-weight: bold;
  font-family: "Special Elite", cursive;
}

/*styles for text jobs*/
.jobs-text-container {
  color: #fff;
  text-align: left;
  margin-left: 45px;
  margin-right: 45px;
}

.jobs-text-title-center {
  text-align: center;
}
.jobs-text-freelancer-container {
  margin-top: 50px;
}
.jobs-text-important {
  color: #ead430;
}
