/*Styles for buttons*/
.container-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
.container-buttons-btn-gradient {
  color: #fff;
  background-color: #191919;
  margin: 15px;
  padding: 14px 30px;
  border-radius: 2px;
  border: 1px solid #fff;
  transition: 0.3s ease;
  text-decoration: none;
  opacity: 0.9;
  font-weight: bold;
  font-family: "Special Elite", cursive;
}

.container-buttons-btn-gradient:hover {
  border: 1px solid #ead430;
  opacity: 1;
  cursor: pointer;
}

.pressed-jobs-buttons {
  color: #fff;
  background-color: #191919;
  margin: 15px;
  padding: 14px 30px;
  border-radius: 2px;
  transition: 0.3s ease;
  text-decoration: none;
  border: 2px solid #ead430;
  opacity: 1;
  font-weight: bold;
  font-family: "Special Elite", cursive;
}

/*styles for text jobs*/
.jobs-text-container {
  color: #fff;
  text-align: left;
  margin-left: 80rem;
  margin-right: 80rem;
  margin-top: 2rem;
}
/* Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .jobs-text-container {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .jobs-text-container {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .jobs-text-container {
    margin-left: 8rem;
    margin-right: 8rem;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .jobs-text-container {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .jobs-text-container {
    margin-left: 12rem;
    margin-right: 12rem;
  }
}

.jobs-text-freelancer-container {
  margin-top: 50px;
}

.jobs-text-title-center {
  text-align: center;
  margin-top: 7rem;
}
.jobs-text-important {
  color: #ead430;
}
